<!-- include the header -->
<%- include('partials/header')%>
<!-- /include the header -->

<!-- main body -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="">Add Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>
        <!-- form section -->
        <!-- add user form -->
       <%- include('partials/form')%>
        <!-- /add user form -->    
        
    </div>
 </main>
<!-- /main body -->

<!-- include the footer -->
<%- include('partials/footer')%>
<!-- /include the footer -->